.container-1 {
    background-color: #F3E9F1;
}

.nav-options {
    background-color: #A74F72;
}

.search-button {
    flex: 1 1 3em;
    background: linear-gradient(130deg,#C97A57,#9E63D0);
}

body {
    background-color: #F3E9F1;
}

.container-2 {
    background-color: #A74F72;
}
.teddybear {
    background-color: #b48395;
}

.container-3 {
    background-color: #A74F72;
}
.cameras {
    background-color: #b48395;
}

.container-4 {
    background-color: #A74F72;
}
.furnitures {
    background-color: #b48395;
}

.slider{
    display: none;
}
.badge {height:13px;width:13px;padding:0}

/*ici on centre le button et on le customise*/
.div-test {
   display: flex;
   justify-content: center;
}
#test1,#test2,#test3,#test4,#test5 {
    background-color: yellowgreen;
    padding: 0.5em;
    border-radius: 10%;
}




